Flask>=3.0
flask-cors>=3.0
werkzeug>=2.3
loguru>=0.7
pdf2image>=1.16
pdfminer.six>=20220524
pytesseract==0.3.13
Pillow>=9.0
opencv-python-headless>=4.8
python-dotenv>=1.0
python-dateutil>=2.8
requests>=2.31
google-generativeai==0.8.3  # optional for Gemini
numpy>=1.26  # if needed by opencv or other libs
reportlab>=4.0  # for PDF report generation
